body {
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 101vh;
  overflow: hidden;
  padding-bottom: 50px;
}

.grid-container {
  margin-top: 1em;
}

#country-select {
  display: flex;
  align-items: center;
  gap: 6px;
}

.react-datepicker-popper {
  left: 0;
  height: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
